<div>
  <h3><%= @agent.full_name %></h3>
  <h5><%= @agent.company%></h5>

  <button class="btn btn-info">Call <%= @agent.first_name %></button>
  <button class="btn btn-success">Email <%= @agent.first_name %></button>
</div>